{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<div class="container mt-4">
  <form method="post">
    {% csrf_token %}
    <div class="row mb-3">
      <label for="id_category" class="col-sm-3 col-form-label">Category</label>
      <div class="col-sm-6">
        <select class="form-select" name="category" id="id_category">
          {% for category, count in category_list %}
          <option value="{{ category }}">{{ category }} ({{ count }})</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="id_language" class="col-sm-3 col-form-label">Language</label>
      <div class="col-sm-6">
        <select class="form-select" name="language" id="id_language">
          {% for name, language, count in language_list %}
          <option value="{{ name }}">{{ language }} ({{ count }})</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="id_count" class="col-sm-3 col-form-label"># of Pages to be assigned</label>
      <div class="col-sm-6">
        <input type="number" name="count" class="form-control" value=0 id="id_count">
      </div>
    </div>
    <div class="row mb-3">
      <label for="id_user" class="col-sm-3 col-form-label">User</label>
      <div class="col-sm-6">
        <select class="form-select" name="user" id="id_user">
          {% for user in user_list %}
          <option value="{{ user.id }}">{{ user.username }} ({{ user.assigned_count }})</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="id_type" class="col-sm-3 col-form-label">
        Type
        <br>
        <span class="text-muted form-text">
          This option will determine whether the page will be displayed in polygon
          or rectangle bbox format while doing segmentation correction.
          <b>TL;DR</b> If you don't know what this means leave it as default
        </span>
      </label>
      <div class="col-sm-6">
        <select class="form-select" name="type" id="id_type">
          <option value="rectangle">Rectangle (Default)</option>
          <option value="polygon">Polygon</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Assign</button>
  </form>
</div>
{% endblock main_content %}